.icon {
  width: 32px;
}
@media screen and (min-width: 768px) {
  .header-top {
    height: 28px;
    font-size: 12.8px;
  }
  .header-logo {
    width: 180px;
  }
}
@media screen and (max-width: 767px) {
  .header-logo {
    width: 100px;
  }
}
