@media screen and (min-width: 768px) {
  .full {
    width: 100%;
    display: flex;
  }
  .half {
    width: 50%;
    display: block;
  }
  .fv-left-text {
    font-size: 32px;
  }
  .fv-right-1-text {
    font-size: 20px;
  }
  .w-640 {
    width: 640px;
  }
  .news-card {
    width: 1140px;
    background: #fff;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transform: translateY(-100px);
    position: relative;
    z-index: 100;
    margin-bottom: -70px;
  }
  .bg-white {
    position: relative;
    z-index: 100;
  }
  .eleven-cards {
    width: 1100px;
    margin: 0 auto;
    font-size: 18px;
  }
  .six-cards {
    width: 1000px;
    margin: 0 auto;
  }
  .flow-img-width {
    width: 1000px;
    margin: 0 auto;
  }
  .qa-width {
    width: 968px;
    margin: 0 auto;
  }
  .subete-p {
    font-size: 19px;
  }
  .zero-p {
    color: #e9fe00;
    font-size: 64px;
  }
  .soudanryou-p {
    font-size: 32px;
  }
  .okigaruni-p {
    font-size: 19px;
  }
  .mail-tel-btn {
    font-size: 26px;
  }
  .benriya-p {
    font-size: 32px;
    line-height: 1.2;
  }
  .heisha-p {
    font-size: 15px;
    line-height: 2;
  }
  .service-hiyou-p {
    font-size: 32px;
  }
  .red-number {
    font-size: 30px;
  }
  .card-in-red-p {
    font-size: 23px;
  }
  .nedan-p {
    font-size: 35px;
  }
  .nine-cards-width {
    width: 1160px;
  }
  .benriya-bottom-p {
    font-size: 20px;
  }
  .news-left-p {
    font-size: 32px;
  }
  .red-people-img {
    width: 90px;
  }
  .red-people-bottom {
    font-size: 17px;
  }
  .sonota-p {
    font-size: 17px;
    line-height: 4;
  }
  .service-p {
    font-size: 64px;
  }
  .service-bottom-small-p {
    font-size: 16px;
  }
  .okomariya-p-width {
    width: 1170px;
  }
  .okomariya-p {
    font-size: 16px;
    line-height: 2;
  }
  .red-check-img {
    width: 70px;
  }
  .red-check-bottom {
    font-size: 22px;
  }
  .about-us-p {
    font-size: 48px;
  }
  .about-us-bottom-p {
    font-size: 16px;
  }
  .about-us-width {
    width: 1200px;
  }
  .anatano-p {
    font-size: 20px;
  }
  .anatano-bottom-p {
    font-size: 16px;
  }
  .before-yellow {
    position: relative;
  }
  .before-yellow::before {
    content: "";
    position: absolute;
    width: 1300px;
    height: 322px;
    background-color: #e9fe00;
    top: 0;
    right: 0;
    z-index: -1;
    transform: translateY(-30px) translateX(250px);
  }
  .faq-p {
    font-size: 64px;
  }
  .q-p {
    font-size: 20px;
  }
  .a-p {
    font-size: 16px;
  }
  .otoiawase-p {
    font-size: 32px;
  }
  .tel-link {
    font-size: 46px;
  }
  footer {
    font-size: 12px;
  }
}
@media screen and (max-width: 767px) {
  .full {
    width: 100%;
  }
  .half {
    width: 100%;
    display: block;
  }
  .w-640 {
    width: 100%;
  }
  .news-card {
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  }
  .eleven-cards {
    width: 90%;
    font-size: 12px;
  }
  .flow-img-width {
    width: 90%;
    margin: 0 5%;
  }
  .okomariya-p-width {
    width: 90%;
    margin: 0 5% 0 5%;
  }
  .red-people-img {
    width: 90px;
  }
  .red-check-img {
    width: 70px;
  }
  .before-yellow {
    position: relative;
  }
  .before-yellow::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 250px;
    background-color: #e9fe00;
    top: 0;
    right: 0;
    z-index: -1;
    transform: translateY(-30px);
  }
  .fv-left-text {
    font-size: 17px;
  }
  .subete-p {
    font-size: 17px;
  }
  .zero-p {
    color: #e9fe00;
    font-size: 40px;
  }
  .soudanryou-p {
    font-size: 17px;
  }
  .okigaruni-p {
    font-size: 17px;
  }
  .benriya-p {
    font-size: 19px;
    line-height: 1.2;
  }
  .heisha-p {
    font-size: 13px;
    line-height: 2;
  }
  .service-hiyou-p {
    font-size: 24px;
  }
  .red-number {
    font-size: 20px;
  }
  .card-in-red-p {
    font-size: 19px;
  }
  .nedan-p {
    font-size: 25px;
  }
  .news-left-p {
    font-size: 24px;
  }
  .red-people-bottom {
    font-size: 15px;
  }
  .service-p {
    font-size: 40px;
  }
  .sonota-p {
    font-size: 15px;
  }
  .okomariya-p {
    font-size: 14px;
    line-height: 1.6;
  }
  .about-us-p {
    font-size: 28px;
  }
  .about-us-bottom-p {
    font-size: 14px;
  }
  .anatano-p {
    font-size: 17px;
  }
  .anatano-bottom-p {
    font-size: 14px;
  }
  .faq-p {
    font-size: 40px;
  }
  .q-p {
    font-size: 17px;
  }
  .a-p {
    font-size: 14px;
  }
  .otoiawase-p {
    font-size: 24px;
  }
  .tel-link {
    font-size: 28px;
  }
  footer {
    font-size: 11px;
  }
  .mail-tel-btn {
    font-size: 17px;
  }
}
